/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* General Styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #222831;
  }
  h2{
    color: #DFD088;  
    margin-left: 100px;
    font-size: 40px;
  }
  h3{
    color: #f0dbbd;
  }
  a{
    background-color: #393E46;
    color: #dfd0b8 ;
  }
  a:hover{
    background-color: #393E46;
  }
  img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
  }
  /* Main Content Styles */
  main {
    padding: 2rem;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    justify-items: center;
  }
  .product-item {
    background-color: #393E46;
    border: 1px solid #dfd0b8;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-item img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 1rem;
  }
  
  .product-item h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .product-item p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: white;
  }
  
  .product-item span {
    font-size: 1.1rem;
    font-weight: bold;
    color: #00b3b3;
    margin-bottom: 5px;
    display: flex;
    margin-left: 40%;
    font-size: 20px;
  }
  
  .product-item button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .product-item button:hover {
    background-color: #00b3b3;
  }
  