body{
    background-color: #222831;
}
h2{
    color: #DFD088;  
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
}
h3{
    color: #948979;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4px;
}
.ktiba{
    height: 70%;
    width: 200px;
    float: left;
}
.hi:hover{
    background-color: #393E46;
}
section{
    background-color: #393E46;
}
.suu{
    float: right;
    width: 45%;
    margin-right: 2.5%;
    background-color: #393E46;
    color: #dfd0b8 ;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.immg{
    width: 30%;
    float: right;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.suu1{
    float: left;
    width: 45%;
    margin-left: 2.5%;
    background-color: #393E46;
    color: #dfd0b8 ;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
}